<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.cjba7.kefbar.cli</string>
	<key>CFBundleName</key>
	<string>kefbar</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>kefbar controls the volume of your KEF speakers on your local network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
	</array>
</dict>
</plist>
